
:root {
  --background-color: #F0F2F5;

  --red: #DB3766;
  --blue: #30107D;
  --green: #06D6A2;
  --blue-light: #401A9B;

  --card-title:#484F55;
  --card-amount: #4E5555;

  --text-title: #363F5F;
  --text-body: #969CB3;
  --button-text: #b9b9b9;

  --shape: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 90% // 15px
  }

  @media (max-width: 720px) {
    font-size: 80%; // 14px
  }
}

body {
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.overlayCustomModal {
  background-color: #00000050;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentCustomModal {
  background-color: var(--background-color);
  border-radius: 0.5rem;
  min-height: 100px;
  min-width: 300px;
  position: relative;
  padding: 0.8rem;
}