.container {
  flex: 1;
  height: 10.9rem;
  background-color: var(--shape);
  border-radius: 8px; 
  padding: 1.8rem 2.3rem;
  min-width: 250px;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;

    .title {
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--card-title);
    }
    
  }

  .amount {
    color: var(--card-amount);
    font-size: 2.6rem;
    font-weight: 500;
  }

}

.container__green {
  @extend .container;
  background-color: var(--green-total);


  .header {

    .title {
      color: var(--shape);
    }
 
  }

  .amount {
    color: var(--shape);
  }
}

@media (max-width: 720px) {
  .container {

    .amount {
      font-size: 2rem;
      font-weight: 500;
    }

  }
};