.container {
  width: 100%;
  min-height: 14rem;
  margin-top: -2.2rem;

  .innerContainer {
    display: flex;
    gap: 1rem;
    flex: 1;
    max-width: calc(1200px - 2rem);
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .container {
    overflow-x: scroll;
    padding: 0 2rem 2rem 2rem;
    display: flex;
  }
}

