.container {
  width: 100%;
  background-color: var(--shape);
  border-radius: 8px;
  display: flex;
  gap: 5%;
  padding: 1.25rem 0;
  color: var(--gray-table-row);
  font-weight: 400;
  font-size: 1.125rem;
  font-family: 'roboto', sans-serif;
  margin-bottom: 1.25rem;
  overflow: hidden;

  .description {
    width: 35%;
    padding-left: 16px;
    overflow: hidden;
  }

  .amount {
    width: 20%;
    font-weight: 600;
    font-size: 1.125rem;
    overflow: hidden;
  }

  .income {
    color: var(--green-amount);
    width: 20%;
    overflow: hidden;
  }

  .outcome {
    color: var(--pink-500);
    width: 20%;
    overflow: hidden;
  }

  .category {
    width: 20%;
    overflow: hidden;
  }

  .date {
    width: 25%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  } 

  .trash {
    width: 50px;
    border: 0;
    background-color: transparent;
  }

}


@media (max-width: 720px) {

  .container {
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 1rem;
    gap: 10px;

    div {
      overflow: hidden;
    }
  
    .description {
      width: 48%;
      height: 40px;
    }
  
    .amount {
      width: 48%;
      font-weight: 600;
      height: 40px;
    }
  
    .category {
      width: 48%;
      padding-left: 16px;
    }
  
    .date {
      width: 48%;
      display: flex;
      justify-content: space-between;
    } 
  
    .trash {
      width: 50px;
      border: 0;
      background-color: transparent;
    }
  
  }
  

}